<div class="container">
    <div class="row">
        <div class="col-md-12 make">
            <div class="card make">
                <div class="card-body">
                    <h1 class="header"> Make a Pizza </h1>
                    <img src="assets/img/pizza-steve.png" alt="pizza slice">
                    <form class="create-form">

                        <div class="form-group">
                            <input type="text" id="pz" name="name">
                            <button type="submit">COOK </button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1> Pizza Party!!!</h1>
                    <ul class="nobullets">
                        {{#each pizza}}
                        {{#unless devoured}}
                        <li class="pizzaparty">
                            {{pizza_name}}
                            <button class="devour" data-id="{{id}}"> DEVOUR! </button>
                        </li>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1> Pizzas of the Past</h1>
                    <ul class="nobullets">
                        {{#each pizza}}
                        {{#if devoured}}
                        <li class="pastpizza">
                            {{pizza_name}}
                            <button class="delete" data-id="{{id}}"> X </button>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                // DELETE
                $(".delete").on("click", function () {
                    const pizzaId = $(this).attr("data-id");

                    $.ajax("/api/pizza/" + pizzaId, {
                        method: "DELETE"
                    }).then(function () {
                        window.location = "/";
                    });
                });
                // UPDATE
                $(".devour").on("click", function (event) {
                    event.preventDefault();
                    var id = $(this).data("id");

                    var pizzaStatus = {
                        devoured: 1
                    };

                    $.ajax("/api/pizza/" + id, {
                        type: "PUT",
                        data: pizzaStatus
                    }).then(
                        function () {
                            location.reload();
                        }
                    );

                });
                //POST
                $(".create-form").on("submit", function (event) {
                    event.preventDefault();

                    var newPizza = {
                        pizza_name: $("#pz").val().trim(),
                    };

                    $.ajax("/api/pizza", {
                        type: "POST",
                        data: newPizza
                    }).then(
                        function () {
                            location.reload();
                        }
                    );
                });
            })
        })
    </script>