html {
    min-height: 100%;
}

body {
    background-image: url("../img/pizzapizza.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header {
    font-size: 60px;
    padding: 20px;
    margin-top: 0px;
}

.make {
    color: red;
    text-align: center;
    padding-bottom: 20px;
}

#pz {
    color: black;
    border-color: wheat;
    border-radius: 5px;
    background-color: wheat;
    outline-color: wheat;
}

img {
    padding-bottom: 25px;
}

.card {
    
    color: wheat;
    border-color: wheat;
    border-style: solid;
    background-color:  black;
    text-align: center;
    min-height: 300px;
    max-height: 300px;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow-y: auto;
}

button {
    color: wheat;
    background-color: black;
    border-color: red;
    border-radius: 5px;
}

.make {
    max-height: 350px;
}

.pizzaparty {
    padding-bottom: 5px;
    justify-content: space-between;
    display: flex;
    padding-right: 40px;
}

.nobullets {
    list-style-type: none;
}





